body {
  margin: 0;
  font-family: system-ui, sans-serif;
}

.chat-wrapper {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  background-color: #f3f4f6;
}

.chat-box {
  width: 100%;
  max-width: 600px;
  height: 500px;
  background: white;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.chat-container {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
}

/* mensagens  */
.message {
  padding: 10px 14px;
  border-radius: 12px;
  max-width: 70%;
  word-wrap: break-word;
}
.message.user {
  align-self: flex-end;
  background-color: #4f46e5;
  color: white;
}

.message.bot {
  align-self: flex-start;
  background-color: #e5e7eb;
  color: #111;
}

.message.typing {
  font-style: italic;
  opacity: 0.7;
}

/* input  */
.chat-input {
  display: flex;
  gap: 10px;
  padding: 12px;
  border-top: 1px solid #e5e7eb;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #d1d5bd;
  outline: none;
}

.chat-input button {
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  background-color: #4f46e5;
  color: white;
  cursor: pointer;
}
